p {
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    line-height: 1.5;  
  }
h1 {
    font-size: 50px;
}
h2 {
     text-transform: uppercase;
     color: #ffff;
     margin-left: 50px;
     text-shadow: -1px 1px 0 #41ba45,
     1px 1px 0 #c63d2b,
     1px -1px 0 #42afac,
     -1px -1px 0 #c6c23f;
  }

.citation_head {
    color: #262626;
    font-weight: bold;
}

body {
    background-color: #262626;
}

header {
    text-align: center;
    background-image: url(background.jpeg);
    color: #262626; 
    padding-top: 30px;
    padding-bottom: 30px;
  }

img {
    height: auto;
    max-width: 300px;
    float: right;
    display: block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    animation-name: fade_img;
    animation-duration: 2s;
    }
@keyframes fade_img {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

table {
        border-collapse: collapse;
        color: white;
        font-size: 0.9em;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: 80px;
        border-style: solid;
        border-color: hotpink;
    }
    th, td {
        padding: 10px;
      }

ul {
    margin-left: 80px;
    line-height: 2;
}

ul li::marker {
    color: hotpink;
}

h3 {
    margin-left: 80px;
    text-shadow: -1px 1px 0 #41ba45,
    1px 1px 0 #c63d2b,
    1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
    color: white;
}

.morale {
font-style: italic;
}

footer {
    background-color: #262626;
    padding-top : 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white; 
}

.align {
    display: flex;
    color: #262626;
    padding-top: 20px;
    padding-bottom: 20px;  
  }

a {
    color: hotpink;
  }

.team_title {
    color:white;
    font-size: 35px;
    text-shadow: -1px 1px 0 #41ba45,
	1px 1px 0 #c63d2b,
	1px -1px 0 #42afac,
	-1px -1px 0 #c6c23f;
}

.hobbies {
    color: white;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.column {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-bottom: 100px;
    padding-top: 100px;
    color: #262626;
}

p.dark {
    color: #262626;
}